version: 2
updates:
  - package-ecosystem: npm
    directories:
      - /packages/**/*
    schedule:
      interval: daily
    groups:
      minor_and_patch:
        applies-to: version-updates
        patterns:
          - '*'
        update-types:
          - minor
          - patch
    open-pull-requests-limit: 10
